.markdown__preview {
  padding-bottom: 300px;
  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 2em;
  }

  code {
    padding: 0.06em 0.4em;
    font-size: 0.88em;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
    margin: 0 0.2em;
  }

  pre {
    border-radius: 3px;
    background-color: #f6f8fa;
    code {
      display: block;
      padding: 16px;
      background-color: transparent;
      overflow: scroll;
      margin: 0;
    }
  }

  img {
    max-width: 90%;
    cursor: pointer;
  }
}




