.article__edit {

  &__textarea {

    textarea {
      width: 100%;
      height: calc(100% - 60px);
      margin-bottom: 20px;
    }

    &__submit {

      button,
      input {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}




