.resume__view {
  padding: 20px;

  &__base-info {
    margin-bottom: 30px;
    &__avatar {
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }
    &__avatar,
    &__content {
      display: inline-block;
      vertical-align: middle;
    }
    &__name {
      margin-bottom: 3px;
    }
  }

  &__skill {
    margin-bottom: 30px;
    &__tags {
      .ant-tag {
        margin-bottom: 6px;
      }
    }
  }
  
}





